<h1>Add New Player</h1>

<form action="<%= leagueURL %>/players" method="post">

    <section>
        <label>First Name</label>
        <input name="first_name" type="text" required>
    </section>
    <section>
        <label>Last Name</label>
        <input name="last_name" type="text" required>
    </section>
    <section>
        <label>Date of Birth</label>
        <input name="date_of_birth" type="date" value="2000-01-01" required>
    </section>
    <section>
        <label>Place of Birth</label>
        <input name="place_of_birth" type="text" required>
    </section>
    <section>
        <label>Position</label>
        <select name="position" multiple>
            <option value=""></option>
            <option value="C">Centre</option>
            <option value="LW">Left Wing</option>
            <option value="RW">Right Wing</option>
            <option value="D">Defence</option>
            <option value="G">Goalie</option>
        </select>
    </section>
    <section>
        <label>Jersey Number</label>
        <input name="jersey" type="number" min="1" max="99">
    </section>
    <section>
        <label>Team</label>
        <select name="team">
            <% teams.forEach(team => { %>
                <option value="<%= team._id %>"><%= team.city + ' ' + team.name %> </option>
            <% }) %>
        </select>
    </section>

    <button type="submit">Add Player</button>
</form>