<h1 class="display-6 mb-3 text-center">Register</h1>
<p class="lead text-center">Fill out the form below to get started</p>


<% if (errors) { %>
    <% errors.forEach(error => { %>
        <div class="alert alert-danger">
            <%= error %> 
        </div>
    <% }) %>
<% } %>

<div class="row justify-content-center">
    <div class="col-6">
        <form id="formRegistration" action="/auth/register" method="post">
            <div>
                <label class="form-label" for="userRole">Account Type</label>
                <select class="form-select" name="role" id="userRole">
                    <option value="player" disabled>Player</option>
                    <option value="team_admin" disabled>Team Administrator (Coaches, GM's)</option>
                    <option value="league_admin">League Administrator</option>
                </select>
            </div>
        
            <div>
                <label class="form-label" for="leagueName">League Name</label>
                <input class="form-control" id="leagueName" name="leagueName" type="text" required>
            </div>
           
            <div>
                <label class="form-label" for="commissionerName">Commisioner Name</label>
                <input class="form-control" id="commissionerName" name="commissionerName" type="text" required>
            </div>
        
            <div class="row">
                <div class="col">
                    <label class="form-label">Division 1 Name</label>
                    <input class="form-control" name="divisionName1" type="text" required>
                </div>
                <div class="col">
                    <label class="form-label">Division 2 Name</label>
                    <input class="form-control" name="divisionName2" type="text" required>
                </div>
            </div>
        
            <div class="row mb-5">
                <div class="col">
                    <label class="form-label">Division 3 Name</label>
                    <input class="form-control" name="divisionName3" type="text" required>
                </div>
                <div class="col">
                    <label class="form-label">Division 4 Name</label>
                    <input class="form-control" name="divisionName4" type="text" required>
                </div>
            </div>
        
            <div>
                <label class="form-label" for="username">Username</label>
                <input class="form-control" id="username" name="username" type="text" required autofocus>
            </div>
        
            <div>
                <label class="form-label" for="password">Password</label>
                <input class="form-control" id="password" name="password" type="password" required>
            </div>
        
        
        
            <button class="btn btn-primary btn-dark my-3" type="submit">Register</button>
        </form>
    </div>
</div>