<p class="lead">Fill out the form below to get started</p>

<h1>Register</h1>
<form action="/auth/register" method="post">
    <section>
        <label for="username">Username</label>
        <input id="username" name="username" type="text" autocomplete="username" required autofocus>
    </section>
    <section>
        <label for="current-password">Password</label>
        <input id="current-password" name="password" type="password" autocomplete="current-password" required>
    </section>
    <section>
        <label for="user-role">Select type of user</label>
        <select name="role" id="user-role">
            <option value="player">Player</option>
            <option value="team_admin">Team Administrator (Coaches, GM's)</option>
            <option value="league_admin">League Administrator</option>
        </select>
    </section>
    <button type="submit">Register</button>
</form>