<li class="nav-item">
    <a class="nav-link lead" href="#">Schedule</a>
</li>
<li class="nav-item">
    <a class="nav-link lead" href="#">Stats</a>
</li>
<li class="nav-item">
    <a class="nav-link lead" href="#">Standings</a>
</li>
<li class="nav-item">
    <a class="nav-link lead" href="/auth/logout">Logout</a>
</li>
<li class="nav-item">
    <a class="nav-link lead" href="/protected">TestAuth</a>
</li>