<!-- 
<div class="btn-group dropend mb-3">
    <button type="button" class="btn btn-secondary btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Teams
    </button>
    <ul class="dropdown-menu">
        <li class="nav-item">
            <a class="nav-link text-dark" href="/teams">View All</a> 
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/teams/new">Add Team</a>
        </li>
    </ul>
</div>

<div class="btn-group dropend mb-3">
    <button type="button" class="btn btn-secondary btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Players
    </button>
    <ul class="dropdown-menu">
        <li class="nav-item">
            <a class="nav-link text-dark" href="/players">View All</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/players/new">Add Player</a>
        </li>
    </ul>
</div>

<div class="btn-group dropend mb-3">
    <button type="button" class="btn btn-secondary btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Arenas
    </button>
    <ul class="dropdown-menu">
        <li class="nav-item">
            <a class="nav-link text-dark" href="/arenas">View All</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/arenas/new">Add Arena</a>
        </li>
    </ul>
</div>

<div class="btn-group dropend mb-3">
    <button type="button" class="btn btn-secondary btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Games
    </button>
    <ul class="dropdown-menu">
        <li class="nav-item">
            <a class="nav-link text-dark" href="/games">View Schedule</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/games/new">Add Game</a>
        </li>
    </ul>
</div>

 -->







<p class="mb-0">Teams</p>
----
<li class="nav-item">
    <a class="nav-link text-dark" href="/teams">Team List</a> 
</li>
<li class="nav-item">
    <a class="nav-link text-dark" href="/teams/new">Add Team</a>
</li>

<p class="mb-0">Teams</p>
----
<li class="nav-item">
    <a class="nav-link text-dark" href="/players">Player List</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" href="/players/new">Add Player</a>
</li>

<p class="mb-0">Teams</p>
----
<li class="nav-item">
    <a class="nav-link text-dark" href="/arenas">Arena List</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" href="/arenas/new">Add Arena</a>
</li>

<p class="mb-0">Teams</p>
----
<li class="nav-item">
    <a class="nav-link text-dark" href="/games">Schedule</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" href="/games/new">Add Game</a>
</li>