<li class="nav-item">
    <a class="nav-link lead" href="<%= leagueURL %>/teams">Teams</a> 
</li>
<li class="nav-item">
    <a class="nav-link lead" href="<%= leagueURL %>/teams/new">Add Team</a>
</li>
<li class="nav-item">
    <a class="nav-link lead" href="#">Players</a>
</li>
<li class="nav-item">
    <a class="nav-link lead" href="#">Add Player</a>
</li>
<li class="nav-item">
    <a class="nav-link lead" href="<%= leagueURL %>/arenas">Arenas</a>
</li>
<li class="nav-item">
    <a class="nav-link lead" href="<%= leagueURL %>/arenas/new">Add Arena</a>
</li>
<li class="nav-item">
    <a class="nav-link lead" href="#">Add Game</a>
</li>


