<li class="nav-item">
    <a class="nav-link lead" href="#">Teams</a>
</li>
<li class="nav-item">
    <a class="nav-link lead" href="#">Players</a>
</li>
<li class="nav-item">
    <a class="nav-link lead" href="#">Arenas</a>
</li>
<li class="nav-item">
    <a class="nav-link lead" href="#">Add Player</a>
</li>
<li class="nav-item">
    <a class="nav-link lead" href="#">Add Team</a>
</li>
<li class="nav-item">
    <a class="nav-link lead" href="#">Add Arena</a>
</li>
<li class="nav-item">
    <a class="nav-link lead" href="#">Add Game</a>
</li>