
<div class="row">
    <h1 class="display-6 mb-5 text-center">Add New Team</h1>
    <div class="col">
        <form action="/teams/" method="post">

            <div class="row mb-3">
                <div class="form-group col-lg-4">
                    <label class="form-label" for="teamCity">Location</label>
                    <input class="form-control" id="teamCity" name="city" type="text" required>
                </div>
                <div class="form-group col-lg-4">
                    <label class="form-label" for="teamName">Team Name</label>
                    <input class="form-control" id="teamName" name="name" type="text" required>
                </div>
                <div class="form-group col-lg-4">
                    <label class="form-label" for="teamShort">Short Name (3 Letters)</label>
                    <input class="form-control" id="teamShort" name="name_short" type="text" required>
                </div>
            </div>

            <div class="row">

                <div class="form-group col-lg">
                    <label class="form-label" for="teamArena">Home Arena</label>
                    <select class="form-select" name="arena" id="teamArena" required>
                        <% arenas.forEach(arena => { %>
                            <option value="<%= arena._id %>"><%= arena.name %></option>
                        <% }) %>
                    </select>
                </div>
            
                <div class="form-group col-lg">
                    <label class="form-label" for="teamDivision">Division</label>
                    <select class="form-select" name="division" id="teamDivision">
                        <% league.division_names.forEach(division => { %>
                            <option value="<%= division %>"><%= division %></option>
                        <% }) %>
                    </select>
                </div>
            </div>

        
            <button class="btn btn-primary btn-dark my-3" type="submit">Add Team</button>
        </form>
    </div>
</div>