<h1 class="display-6 mb-5 text-center">Add New Game</h1>

<div class="row justify-content-center">
    <div class="col-6">
        <form action="/games" method="post">
            <div>
                <label class="form-label">Home Team</label>
                <select class="form-select" name="home_team" required>
                    <% teams.forEach(team => { %>
                        <option value="<%= team._id %>"><%= team.fullname %> </option>
                    <% }) %>
                </select>
            </div>
            <div>
                <label class="form-label">Away Team</label>
                <select class="form-select" name="away_team" required>
                    <% teams.forEach(team => { %>
                        <option value="<%= team._id %>"><%= team.fullname %> </option>
                    <% }) %>
                </select>
            </div>
            <div>
                <label class="form-label">Date</label>
                <input class="form-control" name="date" type="datetime-local" required>
            </div>
        
            <button class="btn btn-primary btn-dark my-3" type="submit">Add Game</button>
        </form>
    </div>
</div>